body {
    padding-top: 64px;
}

table {
    width: 100%;
}

th {
    width: 35px;
}

th,
td {
    border: 2px solid #41545e;
    padding: 5px;
}

li > input[type="text"] {
    font-size: 0.8rem;
    height: 20px;
    margin-top: 2px;
}

li > button {
    margin-top: 2px;
}

.bg-cobalt {
  background-color: #ff9447 !important;
}

.hamburger.dark .line, .nav-button.dark .line {
  background-color: #ffffff !important;
}

.subscription {
  padding: 5px;
}

.errorMessage {
  color: #C21F39;
  font-weight: bold;
  padding: 5px;
}

.dis-n {
  display: none !important;
}
